<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <a ui-sref="dashboard" ui-sref-active="active" class="al-logo clearfix"><span>YoYoCms</span>Admin</a>
    <a class="collapse-menu-link ion-navicon" ng-click="vm.toggleSidebarMenu()"></a>
    <div class="search">
        <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
        <input id="searchInput" type="text" placeholder="Search for...">
    </div>
    <div class="user-profile clearfix">
        <div class="al-user-profile" uib-dropdown>
            <a uib-dropdown-toggle class="profile-toggle-link">
                
                <img alt="头像" ng-src="{{vm.userAvatarUrl}}"/>
                 <span ng-bind="vm.getUserName"></span>
            </a>
            <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
                <li>
                    <i class="dropdown-arr"></i>
                </li>
                @*<li><a ng-click="vm.con()" ><i class="fa fa-user"></i>个人资料</a></li>
                <li><a ><i class="fa fa-cog"></i>Settings</a></li>*@

                <li>
                    <a href="@Url.Action("Logout", "Account")" class="signout">
                        <i class="fa fa-power-off"></i>@L("Logout")</a>
                </li>
            </ul>
        </div>
        @* 语言管理 *@
        <div class="al-user-profile selectLanguage" uib-dropdown ng-if="vm.languages.length">
            <a uib-dropdown-toggle class="profile-toggle-link">
                <i ng-class="vm.currentLanguage.icon"></i>
                <span >
                    {{vm.currentLanguage.displayName}}
                </span>
                <i class="fa fa-angle-down"></i>
            </a>

            <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
                <li ng-repeat="language in vm.languages" ng-if="vm.currentLanguage.name !== language.name">
                    <a ng-click="vm.changeLanguage(language.name)" href="">
                        <i ng-class="language.icon"></i> <span ng-bind="language.displayName"></span>
                    </a>
                </li>

            </ul>

        </div>


        <ul class="al-msg-center clearfix">

            @* 通知管理 *@
            <li uib-dropdown>
                <a href="javascript:void(0)" uib-dropdown-toggle>
                    <i class="fa fa-bell-o"></i><span ng-if="vm.unReadUserNotificationCount" ng-bind="vm.unReadUserNotificationCount">5</span>
                    <div class="notification-ring"></div>
                </a>

                <div uib-dropdown-menu class="top-dropdown-menu">
                    <i class="dropdown-arr"></i>

                    <div class="header clearfix">
                        <strong>@L("Notifications")</strong>
                        <a href="javascript:void(0)"  ng-if="vm.unReadUserNotificationCount" ng-click="vm.makeAllAsRead(); $event.preventDefault(); $event.stopPropagation();">@L("MakeAllAsRead")</a>
                        <a href="javascript:void(0)" ng-click="vm.ddd()">@L("Settings") </a>
                    </div>

                    <div class="msg-list">
                        <a class="text-center" ng-if="!vm.userNotifications.length">@L("IsNotUserNotifications")</a>
                        <a href="javascript:void(0)" class="clearfix" ng-repeat="msg in vm.userNotifications" ng-if="vm.userNotifications.length">
                            <div class="img-area">
                                <i ng-class="msg.icon"></i> 
                                <img ng-class="{'photo-msg-item' : !msg.image}" ng-src="{{msg.image}}" >
                               
                            </div>
                            <div class="msg-area">
                                <div ng-bind="msg.text"></div>
                                <span title="{{msg.time | momentFormat:'YYYY-MM-DD HH:mm:ss'}}" am-time-ago="msg.time"></span>
                                <span ng-if="msg.state=='UNREAD'"> - <span class="makeasread-text" ng-click="vm.makeNotificationAsRead(msg); $event.preventDefault(); $event.stopPropagation();">@L("MakeAsRead")</span></span>
                            </div>
                        </a>
                    </div>
                    <a  ng-if="vm.userNotifications.length" ui-sref="notifications" href="javascript:void(0)">@L("SeeAllNotifications")</a>
                </div>
            </li>
            
            @* 短消息管理 *@
            @*<li uib-dropdown>
                <a href class="msg" uib-dropdown-toggle>
                    <i class="fa fa-envelope-o"></i><span>5</span>
                    <div class="notification-ring"></div>
                </a>
                <div uib-dropdown-menu class="top-dropdown-menu">
                    <i class="dropdown-arr"></i>
                    <div class="header clearfix">
                        <strong>Messages</strong>
                        <a href>Mark All as Read</a>
                        <a href>Settings</a>
                    </div>
                    <div class="msg-list">
                        <a ng-click="vm.ddd()" href class="clearfix" ng-repeat="msg in messages">
                            <div class="img-area">
                                <img class="photo-msg-item" ng-src="{{::( users[msg.userId].name | profilePicture )}}">
                            </div>
                            <div class="msg-area">
                                <div ng-click="vm.ddd()">{{ msg.text }}</div>
                                <span>{{ msg.time }}</span>
                            </div>
                        </a>
                    </div>
                    <a data-ng-click="vm.ddd()" href>See all messages</a>
                </div>
            </li>*@
        </ul>


    </div>
</div>