
@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@using YoYo.Cms.Localization
@using YoYo.Cms.Web.App.Startup
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="ourGalaxy"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="ourGalaxy"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="YoYoCms" ng-controller="app.views.layout as vm" dir=@(CultureHelper.IsRtl ? "rtl" : "")>
<!--<![endif]-->


<head>
    <meta charset="utf-8">
    @* 设置favicon *@
    <link rel="icon" type="image/png" href="~/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    @* 告诉浏览器，我们需要你的自适应 *@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YoYoCms - {{vm.currentMenuDisplayName}}</title>

    <!-- Global stylesheets -->
    <link href='https://fonts.lug.ustc.edu.cn/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/libs/Ionicons/css/ionicons.css" />
    <link href="~/libs/animate/animate.css" rel="stylesheet" />
    <link href="~/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/libs/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
    <link rel="stylesheet" href="~/libs/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />
    <link href="~/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/libs/ionrangeslider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="~/libs/ionrangeslider/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="~/libs/angular-ui-select/dist/select.css" />

    <link href="~/libs/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />

    <link href="~/libs/flags/famfamfam-flags.css" rel="stylesheet" />
     <link href="~/libs/sweetalert/sweet-alert.css" rel="stylesheet" />
    <link href="~/libs/toastr2.1.1/toastr.css" rel="stylesheet" />
    <link href="~/libs/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/libs/jstree/dist/themes/default/style.css" />
    <link rel="stylesheet" href="~/libs/angular-progress-button-styles/dist/angular-progress-button-styles.min.css" />
    <link href="~/libs/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />


    @Styles.Render("~/Bundles/App/Main/css")
    

    <link href="~/App/Admin/css/main.min.css" rel="stylesheet" />
    

    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/libs/fastclick/lib/fastclick.js"></script>
    <script src="~/libs/nprogress/nprogress.js"></script>
    <script src="~/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="~/libs/jquery.blockUI/jquery.blockui.min.js"></script>
    <!-- /core JS files -->
    
    
    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->

    <script src="~/Abp/Framework/scripts/utils/ie10fix.js"></script>
    <script src="~/libs/json2/json2.js"></script>
    <script src="~/libs/modernizr/modernizr-2.8.3.js"></script>
    <script src="~/libs/moment/moment-with-locales.js"></script>
    <script src="~/libs/moment/moment-timezone-with-data.js"></script>
    <script src="~/libs/jquery-validation/js/jquery.validate.js"></script>
    <script src="~/libs/toastr2.1.1/toastr.js"></script>
    <script src="~/libs/sweetalert/sweet-alert.js"></script>
    <script src="~/libs/spinjs/spin.js"></script>
    <script src="~/libs/spinjs/jquery.spin.js"></script>
    <script src="~/libs/underscore.js"></script>

    <script src="~/libs/angular/angular.js"></script>
    <script src="~/libs/angular-moment/angular-moment.min.js"></script>
    <script src="~/libs/angular-animate/angular-animate.js"></script>
    <script src="~/libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/libs/angular-touch/angular-touch.min.js"></script>
    <script src="~/libs/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/libs/angular-ui/ui-bootstrap.js"></script>
    <script src="~/libs/angular-ui/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="~/libs/angular-ui/ui-utils.js"></script>
    <script src="~/libs/slimScroll/jquery.slimscroll.js"></script>
    <script src="~/libs/angular-slimscroll/angular-slimscroll.js"></script>
    <script src="~/libs/angular-progress-button-styles/dist/angular-progress-button-styles.min.js"></script>

    <script src="~/libs/jstree/dist/jstree.js"></script>
    <script src="~/libs/ng-js-tree/dist/ngJsTree.js"></script>

    <script src="~/libs/angular-ui-grid/ui-grid.min.js"></script>
    <script src="~/libs/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/App/Admin/views/layout/backTop/lib/jquery.backTop.min.js"></script>
    <script src="~/libs/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/libs/angular-daterangepicker/angular-daterangepicker.js"></script>

    @* abp libs js  *@ 

    <script src="~/Abp/Framework/scripts/abp.es5.min.js"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.libs.min.js"></script>
    <script src="~/Abp/Framework/scripts/libs/angularjs/abp.ng.es5.min.js"></script>
        <script src="~/libs/signalR/jquery.signalR-2.2.1.min.js"></script>
  
    @* 多语言处理 *@

    <script>
 
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>
    @Html.IncludeScript(AppBundleConfig.AngularLocalization)

    <script src="~/libs/bootstrap-select/js/i18n/defaults-@(UICulture.Replace("-","_")).min.js"></script>

 
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/api/AbpServiceProxies/GetAll?type=angular&v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    <!-- SignalR scripts -->
    <script src="~/signalr/hubs"></script>

    @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.signalr.js")
    @Scripts.Render("~/Bundles/App/Common/js")


    <script src="~/App/Admin/app.js"></script>
    <script src="~/App/Admin/_libconfig.js"></script>


<script src="~/App/Admin/config/bundle.js"></script>

    <script src="~/App/Admin/config/baSidebar/bundle.js"></script>
     
    
    @Scripts.Render("~/Bundles/App/directives/js")
    @Scripts.Render("~/Bundles/App/views/js")
     

</head>
<body >
    
    <div class="body-bg"></div>
<main ng-if="$pageFinishedLoading" >
    

    <ba-sidebar></ba-sidebar>
     


   
    <div data-ng-include="'~/App/Admin/views/layout/header/header.cshtml'" data-ng-controller="app.layout.header as vm"></div>
     
    <div class="al-main">
        <div class="al-content">
            @*<div data-ng-include="'~/App/Admin/views/layout/contentTop/contentTop.cshtml'" data-ng-controller="app.layout.contentTop as vm"></div>*@
                                       <content-top></content-top>
            <div ui-view autoscroll="true" autoscroll-body-top></div>
        </div>
    </div>
    <footer class="al-footer clearfix">
        <div class="al-footer-right">
                 Created with <i class="ion-heart">YoYoCms</i>
        </div>
        <div class="al-footer-main clearfix">
            <div class="al-copy"> © @DateTime.Now.Year, made with  by YoYoCms </div>
            <ul class="al-share clearfix">
                <li><i class="socicon socicon-facebook"></i></li>
                <li><i class="socicon socicon-twitter"></i></li>
                <li><i class="socicon socicon-google"></i></li>
                <li><i class="socicon socicon-github"></i></li>
            </ul>
        </div>
    </footer>
    <back-top></back-top>
 

</main>
    <div id="preloader" ng-show="!$pageFinishedLoading">
        <div></div>
    </div>
     


</body>

</html>
