@using Abp.Extensions
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@*
    IMPORTANT NOTES FROM ASP.NET BOILERPLATE:

    This _Layout.cshtml is not used actually. It's left here if you want to add some classic style (MPA)
    pages to your application.

    See App/Main/views/layout/layout.cshtml for Angular application's layout page.
*@
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YoYoCms-@ViewBag.Title</title>

    <link rel="shortcut icon" href="~/favicon.ico">
    <link href="~/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/libs/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/libs/toastr2.1.1/toastr.css" rel="stylesheet" />
    <link href="~/libs/flags/famfamfam-flags.css" rel="stylesheet" />
    <link href="~/libs/sweetalert/sweet-alert.css" rel="stylesheet" />

    @Html.IncludeStyle("http://fonts.lug.ustc.edu.cn/css?family=Roboto:400,700,300")
    @Html.IncludeStyle("/creativeTim/assets/css/material-kit.css")


    <link href="~/Views/Account/_Layout.css" rel="stylesheet" />
    @RenderSection("Styles", false)

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="~/libs/others/html5shiv.js"></script>
    <script src="~/libs/others/respond.min.js"></script>
        <![endif]-->

    @Html.IncludeScript("~/Abp/Framework/scripts/utils/ie10fix.js")
    
 
    

    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/bootstrap/js/bootstrap.js"></script>
    <script src="~/libs/jquery-validation/js/jquery.validate.js"></script>
    
    
  
    <script src="~/libs/jquery-validation/js/localization/messages_@(UICulture.Left(2)).js"></script>
    <script src="~/libs/toastr2.1.1/toastr.js"></script>
    <script src="~/libs/spinjs/spin.js"></script>
    <script src="~/libs/jquery.blockUI/jquery.blockui.min.js"></script>
    <script src="~/libs/spinjs/jquery.spin.js"></script>
    <script src="~/libs/sweetalert/sweet-alert.js"></script>

    @Html.IncludeScript("~/Abp/Framework/scripts/abp.js")
    @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.jquery.js")
    @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.toastr.js")
     @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.spin.js")
     @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.blockUI.js")
    @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.sweet-alert.js")
    
    
    @*<script src="~/Common/Scripts/jquery-custom.js"></script>*@
    <script src="~/Common/Scripts/jquery-validation-custom.js"></script>

    

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    @* ReSharper disable once Html.PathError *@
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    @* ReSharper disable once Html.PathError *@
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    @RenderSection("Scripts", false)
</head>
<body>
    <body class="signup-page">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://www.yoyocms.com">YoYo-Cms</a>
                </div>
                <div class="collapse navbar-collapse" id="navigation-example">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:void(0)" target="_blank">

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="wrapper">
            <div class="header header-filter" style="background-image: url('/creativeTim/assets/img/city.jpg'); background-size: cover; background-position: top center;">
                @RenderBody()
                <footer class="footer">
                    <div class="container">
                        @*<nav class="pull-left">
                                <ul>
                                    <li>
                                        <a href="http://www.creative-tim.com">
                                            Creative Tim
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://presentation.creative-tim.com">
                                            About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://blog.creative-tim.com">
                                            Blog
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.creative-tim.com/license">
                                            Licenses
                                        </a>
                                    </li>
                                </ul>
                            </nav>*@
                        <div class="copyright pull-right">
                            &copy; @DateTime.Now.Year, made with <i class="fa fa-heart heart"></i> by <a href="http://www.yoyocms.com" target="_blank">YoYoCms</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

 
<script type="text/javascript">
    $(function () {
        if (app) {
            app.init();
        }
    });

</script>
@Html.IncludeScript("~/creativeTim/assets/js/material.min.js")
@Html.IncludeScript("~/creativeTim/assets/js/material-kit.js")
</body>
</html>