@using Abp.Authorization.Users
@using Abp.MultiTenancy
@using Abp.Web.Mvc.Extensions
@model YoYo.Cms.Web.Models.Account.RegisterViewModel
@{
    ViewBag.Title = "注册";
}
@section Styles
{
    @Html.IncludeStyle("~/Views/Account/Register.css")
}
@section Scripts
{

    @Html.IncludeScript("~/creativeTim/assets/js/material.min.js")
    @Html.IncludeScript("~/creativeTim/assets/js/material-kit.js")
    @Html.IncludeScript("~/Views/Account/Register.js")
    
}

<body class="signup-page">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">
                            返回首页
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('/creativeTim/assets/img/city.jpg'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="card card-signup">
                            <form class="registerFormData register-form" action="@(Url.Action("Register", "Account"))" method="POST" novalidate>
                                <div class="header header-primary text-center">
                                    <h4>Register</h4>
                                </div>
                                @if (ViewBag.IsMultiTenancyEnabled)
                                {
                                    if (string.IsNullOrEmpty(Model.TenancyName))
                                    {
                                        <p class="hint">
                                            @L("TenantInformations")
                                        </p>
                                        <div class="row">
                                            <div class="form-group col-md-8 ">
                                                <label class="control-label visible-ie8 visible-ie9 col-md-2">@L("TenancyName")</label>
                                                <div class="col-md-6">
                                                    <input class="form-control placeholder-no-fix input-ltr" type="text" placeholder="@L("TenancyName")" name="TenancyName" value="@(Model.TenancyName ?? "")" required  />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <input type="hidden" name="TenancyName" value="@Model.TenancyName" />
                                    }
                                }
                         
                                <div class="content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user-o"></i>
                                        </span>
                                        <input type="text" class="form-control"  placeholder="@L("UserNameOrEmail")" autocomplete="off" id="UserName" name="UserName" maxlength="@AbpUserBase.MaxEmailAddressLength">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-unlock-alt"></i>
                                        </span> 
                                        <input type="password" class="form-control" placeholder="@L("Password")" autocomplete="off" name="Password" id="Password"   maxlength="@YoYo.Cms.UserManagerment.Users.User.MaxPlainPasswordLength">
                                     </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-unlock-alt"></i>
                                        </span>
                                        <input type="password" class="form-control" placeholder="请再次输入密码" autocomplete="off" name="PasswordRepeat" id="PasswordRepeat" maxlength="@YoYo.Cms.UserManagerment.Users.User.MaxPlainPasswordLength">
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" id="RegisterButton" class="btn btn-primary">
                                    <i class="fa fa-sign-in"></i> @L("RememberMe")</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="http://www.creative-tim.com">
                                    Creative Tim
                                </a>
                            </li>
                            <li>
                                <a href="http://presentation.creative-tim.com">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.creative-tim.com">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="http://www.creative-tim.com/license">
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright pull-right">
                        &copy; 2016, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com" target="_blank">Creative Tim</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</body>